/* Container Styling */
.mywork-container {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title Styling */
.mywork-title h1 {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
 
}

.mywork-title p {
  font-size: 1.2rem;
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 30px;
}

/* Projects Grid Layout */
.mywork-projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  justify-content: center;
  align-items: center;
}

/* Project Card Styling */
.project-card {
  /* background-color: #1e1e1e; */
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  position: relative;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  /* background: linear-gradient(45deg, #3f0028, #583200); */
}

.project-card h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-card p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: white;
  height: auto; /* Allow description to grow as needed */
  transition: max-height 0.3s ease;
  overflow: hidden; /* Prevent layout shift */
}

/* Description Container */
.description-container {
  max-height: 150px; /* Set fixed height for the card */
  overflow: hidden;
}

.description-container p.expanded {
  max-height: 1000px; /* Allow the expanded text to overflow */
  overflow: visible;
}

/* Buttons Styling */
.project-buttons {
  display: flex;
  justify-content: space-between;
}

.btn-website, .btn-source {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn-website:hover, .btn-source:hover {
  background-color: #040404;
}

/* Read More Button Styling */
.read-more-btn {
  background: none;
  border: none;
  color: #b415ff;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 5px;
}

.read-more-btn:hover {
  color: #df8908;
}

/* Arrows for Read More / Show Less */
.arrow-up, .arrow-down {
  font-size: 1.2rem;
  margin-left: 5px;
}
